name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - '*'

jobs:
  run_tests:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup node version
        uses: actions/setup-node@v2
        with:
          cache: 'yarn'
          node-version: '16'
      - name: install dependencies
        run: yarn install
      - name: transpile typescript
        run: yarn build
      - name: run tests
        run: yarn test
